#flags-user-tab hr{ clear:both; } 
#flags-user-tab fieldset{ margin:5px; } 
.flags-list{ margin:0; padding:0; } 
.flags-list li{ float:left; list-style:none; padding-right:1.5em; } 
.flags-list li label{ display:inline; } 
div .tab-content{ overflow:visible; height:auto; }
.blank-content{ display:none; height:0; }
.bg-dark{ background:#f6f6f6; }
a.path_link{ font-weight:normal; color:#666; text-decoration:underline !important; }
a.path_link:hover{ color:#047; }
span.system-flag{ border:1px solid #359; font-weight:normal; border-radius:3px; padding:0.3em; color:#fff; background-color:#5D7DB1; font-size:.8em; }
span.category-id{ color: #999; }
.container .block table{ margin-bottom:2em; }
