{def $path_node = ""}

{foreach $node.path_array as $path_item_id offset 1 max $id}
{set $path_node = fetch('content', 'node', hash('node_id', $path_item_id))}
{if eq($path_node.node_id,$node.node_id)}
{$path_node.name}
{else}
<span style="color:#666; font-weight:normal;">{$path_node.name}</span>
{/if}
{delimiter} <span style="font-weight:normal;">&gt;</span> {/delimiter}
{/foreach} <span style="font-weight:normal;">のフラグ</span>
